#about, #contact {
    margin-top: 100px;
    opacity: .6;
}

#portfolio-container {
    margin-top: 56px;
}

#yelpcamp-block {
    background-color: rgb(54,71,91);
}

#rgb-block {
    background-color: rgb(15,31,119);
}

#potterWords-block {
    background-color: rgb(255,193,7);
}

.bg-black {
    background-color: rgb(0,0,0);
}

#gotTrivia-block {
    background-color: rgb(64,14,13);
}

#giphySearch-block {
  background-color: rgb(23,162,184);
}

#pokerFace-block {
  background-color: rgb(168,33,26);
}

h2 a {
  text-decoration: none;
  color: inherit;
}

h2 a:hover {
  text-decoration: none;
  color: black;
}

.about {
  font-weight: 300;  
  font-size: 1rem;
}


.d-xl-none {
  font-weight: 300;
}

@media (min-width: 768px) {
  .about {
    margin: 50px 50px;
    font-size: 2rem;
  }
}